/**admin page**/
.header ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
      
  }
  
.header li {
    float:right;
  }
  
.header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  
.header  li a:hover {
    background-color: burlywood;
    color: white;
    
}
.button-admin{
    margin-top: 100px;
    text-align: center;
    
  }

  .btn{
    color: black !important;
  }

